%psuedo-post-format-block {
	@include media($sm) {
		background-color: #FFF;
		color: rgba(189, 148, 110, 0.45);
		font-size: 32px;
		font-family: Genericons;
		font-weight: normal;
		height: 32px;
		padding: 0;
		position: absolute;
		right: 0;
		width: 32px;
	}
	@include media($md) {
		bottom: 55px;
		left: -50px;
		top: 15%;
	}
}

%entry-title {
	position: relative;
}

.format-standard {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f100';
		}
	}
}
.format-aside {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f101';
		}
	}
}
.format-image {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f102';
			padding: 0 10px;
		}
	}
}
.format-gallery {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f103';
		}
	}
}
.format-video {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f104';
		}
	}
}
.format-status {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f105';
		}
	}
}
.format-quote {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f106';
		}
	}
}
.format-link {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f107';
		}
	}
}
.format-chat {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f108';
		}
	}
}
.format-audio {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f109';
		}
	}
}
