%psuedo-post-format-block {
	color: $secondary-color;
	font-size: 32px;
	font-family: Genericons;
	font-weight: normal;
	position: absolute;
	left: -50px;
	background: #FFF;
	width: 32px;
	padding: 5px 0 5px 10px;
	right: 10px;
	bottom: 0;
}
%entry-title {
	position: relative;
}

.format-standard {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f100';
		}
	}
}
.format-aside {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f101';
		}
	}
}
.format-image {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f102';
		}
	}
}
.format-gallery {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f103';
		}
	}
}
.format-video {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f104';
		}
	}
}
.format-status {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f105';
		}
	}
}
.format-quote {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f106';
		}
	}
}
.format-link {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f107';
		}
	}
}
.format-chat {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f108';
		}
	}
}
.format-audio {
	h1.entry-title {
		@extend %entry-title;

		&:before {
			@extend %psuedo-post-format-block;
			content: '\f109';
		}
	}
}
